@import url("https://use.typekit.net/gmz1dwr.css");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    font-family: duality-steel,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #402D22;
    letter-spacing: 4px;
    }

video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 500px;
        min-height: 300px;
        padding: 0 1rem 1rem 1rem;
        border-radius: 30px;
        box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.2);
        background-color: rgba(217, 178, 156, 0.4);
        backdrop-filter: blur(14px);
        border: solid rgba(217, 178, 156, 0.6) 2px;
        padding:2rem;
        margin-bottom: 15rem;
        .input-container {
            form {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
            }

        }
    }
}

@media only screen and (max-width: 800px) {
    video {
        object-fit: cover;
        object-position: 80%;
    }
    section {
        .container {
            min-width: unset;
            min-height: 245px;
            margin-bottom: 10rem;
        }
    }
}